/* Global Styles */
body {
  margin: 0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc3545;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e2733;
}

.isDraggableContainer {
  pointer-events: none;
  opacity: 0.6;
}

.noBorderRadius {
  border-radius: 0 !important;
}

#twitch-embed {
  margin-bottom: -4px;
}

.MuiOutlinedInput-multiline {
  height: 100%;
  align-items: start !important;
  overflow: hidden;
}

.flexContainer {
  display: flex;
}
.greyText {
  color: rgba(0, 0, 0, 0.54);
}

.twitchLiveTextColor {
  color: #772ce8;
}

.textShadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.miniDash-btnContainer {
  width: 25%;
  position: relative;
}

@media (max-width: 1200px) {
  .miniDash-btnContainer {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .miniDash-btnContainer {
    width: 40%;
  }
}
