/* Global Styles */
body {
  margin: 0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #992900;
}

.isDraggableContainer {
  pointer-events: none;
  opacity: 0.6;
}

.noBorderRadius {
  border-radius: 0 !important;
}
